ADMIN_PASSWORD=
DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=
DB_PASSWORD=
DB_PORT=
GEMINI_API_KEY=
ZARINPAL_MERCHANT_ID=
ZARINPAL_SANDBOX=
SMSIR_API_KEY=
SMSIR_LINE_NUMBER=
SMSIR_OTP_TEMPLATE_ID=
SMSIR_ORDER_TEMPLATE_ID=
SMSIR_PASSWORD_RESET_TEMPLATE_ID=
